body {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

h1 {
  color: darkgrey;
  font-size: 3em;
}

a {
  color: #819081;
  font-size: 2em;
  margin: 0.15em;
}

.readme {
  color: bisque;
  font-size: 1.5rem;
}

div {
  align-items: center;
  border: 2px solid darkgray;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  padding: 10px;
  width: 80vw;
}
